# Python distribution
dist/
src/network_analysis.egg-info/

# Cache
**/__pycache__/
.tox/

# Python environment
env/

# Build
docs/build/
docs/source/generated/

# Editors config
.idea/
.vscode/