# Python distribution
dist/
src/network_analysis.egg-info/

# Cache
*/__pycache__/
*/*/__pycache__/
.tox/

# Python environment
env/

# Build
docs/build/

# Editors config
.idea/
.vscode/